/**
 * Chrome transitions bug: Preventa "pop" of content by disabling all
 * transitions until page load is complete. https://lab.laukstein.com/bug/input
 */

body.loading * {
  transition: none !important;
}

/**
 * Microsoft's Monaco Editor overrides
 */

.monaco-editor-background {
  background-color: #21262d !important;
}

.monaco-editor .margin {
  background-color: #21262d !important;
  color: #000000 !important;
}
.monaco-editor .line-numbers {
  color: #f0f6fc !important;
  font-family: 'Fira Code', monospace !important;
}
.monaco-editor .view-line {
  font-family: 'Fira Code', monospace !important;
}

/** Object value type = Number */
.monaco-editor .mtk6 {
  color: #9980ff !important;
}
.monaco-editor .mtk5 {
  color: #3fb950 !important;
}
.monaco-editor .mtk1,
.mtk4,
.mtk11 {
  color: #f0f6fc !important;
}

.monaco-editor.vs-dark .squiggly-d-error,
.monaco-editor.vs .squiggly-d-error {
  background: transparent !important;
  border-bottom: 4px double #000000 !important;
}

.monaco-action-bar .action-item .action-label.separator {
  width: 1px;
  height: 16px;
  margin: 5px 4px !important;
  cursor: default;
  min-width: 1px;
  padding: 0;
  background-color: #000000 !important;
}
