@media screen and (display-mode: standalone) {
  .standalone-header,
  .standalone-nav-header {
    padding-top: 40px;
  }
}

/**
 * Chrome transitions bug: Preventa "pop" of content by disabling all
 * transitions until page load is complete. https://lab.laukstein.com/bug/input
 */

body.loading * {
  transition: none !important;
}

/**
 *
 * Microsoft's Monaco Editor style overrides
 *
 */
@media (prefers-color-scheme: dark) {
  .monaco-editor {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .inputarea {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .overflow-guard {
    position: relative;
    /* overflow: hidden; */
    border-radius: 3px !important;
  }
  .monaco-editor .monaco-editor-background {
    background-color: #21262d !important;
  }

  .monaco-editor .margin {
    background-color: #21262d !important;
    padding-top: 20px !important;
  }

  .monaco-editor {
    background-color: #21262d !important;
  }
  .monaco-editor .lines-content {
    margin-top: 20px !important;
  }
  .monaco-editor .lines-content .cigra {
    box-shadow: none !important;
  }

  /** Line Number Section */
  .monaco-editor .line-numbers {
    color: #484f58 !important;
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .active-line-number {
    color: #b1bac4 !important;
    font-weight: 500 !important;
    background-color: transparent !important;
  }
  .monaco-editor .margin .current-line {
    background-color: #21262d !important;
  }

  /** Content Section */

  .monaco-editor .view-lines {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .monaco-editor .current-line {
    background-color: #30363d !important;
    font-weight: 600 !important;
  }

  /** Content Section - Object value type = Number */
  .mtk6 {
    color: #9980ff !important;
  }

  /** Content Section - Object value type = String */
  .mtk5 {
    color: #3fb950 !important;
  }

  /** Content Section - Object key & punctuation */
  .mtk1,
  .mtk4,
  .mtk11 {
    color: #f0f6fc !important;
  }
}

/** WORKING... */
/* .monaco-editor.vs-dark .squiggly-d-error,
.monaco-editor.vs .squiggly-d-error {
  background: transparent !important;
  border-bottom: 4px double #000000 !important;
}

.monaco-action-bar .action-item .action-label.separator {
  width: 1px;
  height: 16px;
  margin: 5px 4px !important;
  cursor: default;
  min-width: 1px;
  padding: 0;
  background-color: #000000 !important;
} */

@media (prefers-color-scheme: light) {
  .monaco-editor {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .inputarea {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .overflow-guard {
    position: relative;
    /* overflow: hidden; */
    border-radius: 3px !important;
  }
  .monaco-editor .monaco-editor-background {
    background-color: #eaeef2 !important;
  }

  .monaco-editor .margin {
    background-color: #eaeef2 !important;
    padding-top: 20px !important;
  }

  .monaco-editor {
    background-color: #eaeef2 !important;
  }
  .monaco-editor .lines-content {
    margin-top: 20px !important;
  }
  .monaco-editor .lines-content .cigra {
    box-shadow: none !important;
  }

  /** Line Number Section */
  .monaco-editor .line-numbers {
    color: #484f58 !important;
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
  }
  .monaco-editor .active-line-number {
    color: #b1bac4 !important;
    font-weight: 500 !important;
    background-color: transparent !important;
  }
  .monaco-editor .margin .current-line {
    background-color: #eaeef2 !important;
  }

  /** Content Section */

  .monaco-editor .view-lines {
    font-family: 'Fira Code' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .monaco-editor .current-line {
    background-color: #30363d !important;
    font-weight: 600 !important;
  }

  /** Content Section - Object value type = Number */
  .mtk6 {
    color: #9980ff !important;
  }

  /** Content Section - Object value type = String */
  .mtk5 {
    color: #3fb950 !important;
  }

  /** Content Section - Object key & punctuation */
  .mtk1,
  .mtk4,
  .mtk11 {
    color: #1b1f24 !important;
  }
}

/**
 * Scrollbar 
 * Chrome bug: custom cursor style doesn't work on scrollbar.
 */

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  cursor: pointer !important;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 4s;
  transition-delay: 2s;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-top: 2px;
  border-bottom: 2px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
  min-width: 20px;
  min-height: 40px;
  background-color: #30363d;
}
::-webkit-scrollbar-thumb:hover {
  border-color: #30363d;
  background-color: #30363d;
}
::-webkit-scrollbar-thumb:active {
  border-color: #484f58;
  background-color: #484f58;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: transparent;
}
